<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kampukter.mtshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".ui.MTShopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ProductActivity"
                  android:parentActivityName=".ui.MTShopActivity"
                  android:label="ProductViewActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MTShopActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.CartItemsActivity"
                  android:parentActivityName=".ui.MTShopActivity"
                  android:label="CartItemsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MTShopActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.BarCodeReadActivity"
                  android:parentActivityName=".ui.MTShopActivity"
                  android:label="BarCodeReadActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MTShopActivity">
            </meta-data>
        </activity>
    </application>
</manifest>
